<!DOCTYPE html>
<html>

<head>
<title>MERONTOS_JohnKavin_Personal Website</title>



<style>
div{
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 8px 0;
}
img{
	border-radius: 100%;
	display: block;
	margin: auto;
	width: 16%;
}
body{
	background-color: lightblue;
}
  p {
  	background-color: white;
  }
  p.solid {border-style: solid;}
  
  .solid {
  	text-align: center;
  	border: 25px solid white;
  	font-size: 25px;
  }
#footer{
	height: 75px;
	background-color: lightpink;
}
</style>
</head>


<body>
<div></div>
<div></div>
<div></div>


	<p class= "solid"> HI! I'm Kavin! Welcome to my World.</p>

	<img src = "johnkavin.jpg">
	
    <div id="footer"></div>
</body>





</html>
